/*css ap dung cho bai tap ngay thu 2 */

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
}

P{
    margin-bottom: 1em;
}

li{
    padding: 2em;
}
h1{
    text-shadow: 3px 3px 3px gray;
    color: brown;
    text-indent: 2rem;
}
/* dinh nghia class selector cho phan the khoi div*/
.noidung{
    width: 60%;
    margin: auto;
}

/* dinh nghia id selector*/
#tam{
    font-style: italic;
    text-align: justify;

}

a:hover{
    background-color: firebrick;
    color: gainsboro;

}
a:link{
    color: blue;
}
a:visited{
    color: darkgreen;
}
p::first-letter{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
    color: orange;
}